<div class="main">
    <div class="sidebar">
        <ul>
           
    
            <a>
                <li>Se déconnecter</li>
            </a>
        </ul>
    </div>
    
    <nav>
        <div class="logo">
            <h1>AgroSud</h1>
        </div>
        <div class="middle">
            
        </div>
        <div class="deconnexion">
            <ul>
                <a [routerLink]="''" class="btn1">
                    <li class="btn btn1">Se déconnecter</li>
                </a>
            </ul>
        </div>
        <img src="../../../assets/img/menuBurger.png" alt="" class="menuburger">
    </nav>
    </div>
