<div class="main">
    <div class="sidebar">
        <ul>
           
    
            <a>
                <li>Se déconnecter</li>
            </a>
        </ul>
    </div>
    
    <nav>
        <div class="logo">
            <h1>AgroSud</h1>
        </div>
        <div class="middle">
            
        </div>
        <div class="site">
            <ul>
                <a [routerLink]="'/admin'" class="btn3">
                    <li class="btn btn2">Administration</li>
                </a>
            </ul>
        </div>
    </nav>


<div class="content">
    <h1>Liste des employés</h1>
    <dx-data-grid class="tab background" id="gridContainer" [dataSource]="employees" keyExpr="id" [showBorders]="true">

        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-paging [pageSize]="10"> </dxo-paging>
        <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [displayMode]="displayMode"
            [showPageSizeSelector]="showPageSizeSelector" [showInfo]="showInfo"
            [showNavigationButtons]="showNavButtons">
        </dxo-pager>
        
        <dxi-column dataField="firstName" caption="Prénom"></dxi-column>
        <dxi-column dataField="lastName" caption="Nom"></dxi-column>
        <dxi-column dataField="phone" caption="Téléphone portable"></dxi-column>
        <dxi-column dataField="cellPhone" caption="Téléphone fixe"></dxi-column>
        <dxi-column dataField="email" caption="Email"></dxi-column> 
        <dxi-column dataField="serviceId" caption="Service"> 
            <dxo-lookup [dataSource]="services" displayExpr="name" valueExpr="id"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="siteId" caption="Site">
            <dxo-lookup [dataSource]="sites" displayExpr="city" valueExpr="id"></dxo-lookup>
        </dxi-column>

    </dx-data-grid>
</div>
